<?xml version="1.0" encoding="utf-8"?>
<!--Copyright 2013 Nikita Kobzev

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.-->
    <manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="0" android:versionName="1.0-SNAPSHOT:${env.BUILD_NUMBER}" package="net.illusor.swipeplayer">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>

    <application android:allowBackup="true" android:icon="@drawable/swipe_player_icon" android:label="Swipe Player" android:name=".SwipeApplication">

        <activity android:launchMode="singleTask" android:name=".activities.SwipeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SwipePlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
        </activity>

        <service android:name=".services.SoundService"/>

        <receiver android:name="net.illusor.swipeplayer.services.MediaButtonReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.SwipeWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/screen_widget_prowider_info" />
        </receiver>

    </application>

</manifest>