<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="100000500" android:versionName="1.3-SNAPSHOT:500" package="com.jeremyfeinstein.slidingmenu.lib">

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="17"/>

</manifest>