<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.illusor.swipeplayer.testing">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>

    <application android:allowBackup="false" android:label="Swipe Player Tests">
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="net.illusor.swipeplayer"/>

</manifest>